@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h4>Kargolar</h4>
<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th> Personel</th>
        <th> Alıcı</th>
        <th> Takip Kodu</th>
        <th> Tarih</th>
        <th> Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.TakipKodu</td>
            <td>@Convert.ToDateTime(k.Tarih).ToString("dd.MM.yyyy")</td>
            <td><a href="/CariPanel/CariKargoTakip/@k.TakipKodu/" class="btn btn-default" style="background-color:burlywood">Detaylar</a></td>
        </tr>
    }
</table>

